{% extends './layout_admin.html' %}

{% block body %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">



<h3>Formulario de Carpas</h3>
<form action="{{ url_for('carpas_crear') }}" method="post" class="row g-3">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="colorInput" placeholder="Color" name="color">
        <label for="colorInput">Color</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="cantidadInput" placeholder="Cantidad" name="cantidad">
        <label for="cantidadInput">Cantidad</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="precioInput" placeholder="Precio de Renta" name="precio_renta">
        <label for="precioInput">Precio de Renta</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="medidasInput" placeholder="medidas (metros)" name="medidas">
        <label for="medidasInput">medidas (metros)</label>
    </div>
   
    <div class="d-flex gap-2 justify-content-center py-5">
        <button class="btn btn-primary align-items-center" type="submit">Guardar</button>
        <a class="btn btn-outline-danger align-items-center" href="{{ url_for('lonas_dashboard') }}">Cancelar</a>
    </div>
</form>

{% endblock %}