{% extends './layout_admin.html' %}

{% block title %} {{ titulo }} {% endblock %}

{% block body %}

<!-- Mensajes Flash -->
<div id="flashMessages" class="flash-messages" data-role="{{ current_user.rol }}">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} flash-alert" role="alert">
                    {{ message | safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<h1 class="blanco borde">AGREGA TUS CARPAS</h1>
<br>
<a href="{{ url_for('carpas_formulario') }}" class="btn btn-primary mb-3 border opacity">
    <i class="fas fa-plus-circle"></i> Agregar Carpa
</a>

<style>
    body {
        background-image: url('/static/img/lonaa.png');
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    body::before {
        content: " ";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(19, 18, 18, 0.363);
        pointer-events: none;
    }
    .borde {
        background: rgba(0, 0, 0, 0.779);
        text-align: center;
        margin: 5px;
        padding: 10px;
        border-radius: 100px;
        text-transform: uppercase;
        font-size: 40px;
        width: 70%;
        margin-left: 100px;
    }
    .border {
        border-radius: 100px;
        background: linear-gradient(90deg, rgba(20, 12, 110, 0.98) 0%, rgba(29, 18, 161, 0.98) 31%, rgba(38, 23, 212, 0.98) 62%);
        border: solid 0px;
    }
    .opacity:hover {
        opacity: .8;
    }
    .table {
        background: linear-gradient(90deg, rgba(30, 30, 36, 0.906) 0%, rgba(54, 53, 55, 0.911) 100%);
    }
    .blanco {
        color: rgba(255, 255, 255, 0.781);
    }
    .borderC {
        border-radius: 100px;
    }
    .azulC {
        color: aliceblue;
        background: linear-gradient(90deg, rgba(20, 12, 110, 0.98) 0%, rgba(29, 18, 161, 0.98) 31%, rgba(38, 23, 212, 0.98) 62%);
        text-decoration: none;
        padding: 5px 13px;
    }
    .rojoC {
        color: aliceblue;
        background: linear-gradient(90deg, rgb(90, 10, 10) 0%, rgb(210, 60, 60) 100%);
        text-decoration: none;
    }
    
    /* Estilos para el contenedor de mensajes flash */
    .flash-messages {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1050;
        max-width: 300px;
        overflow: hidden;
    }

    .flash-alert {
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px;
        color: rgb(252, 252, 252);
        background: rgba(0, 0, 0, 0.808);
        text-align: center;
        border-radius: 100px;
    }

    /* Estilos para ocultar los mensajes flash */
    .hidden {
        display: none;
    }
</style>

<table class="table table-striped table-sm table-hover">
    <thead>
        <tr>
            <th class="text-center blanco">Editar</th>
            <th class="text-center blanco">Eliminar</th>
            <th class="blanco">Color</th>
            <th class="blanco">Cantidad</th>
            <th class="blanco">Precio de Renta</th>
            <th class="blanco">Medidas</th>
            <th class="blanco">Unidad de Medida</th>
        </tr>
    </thead>
    <tbody>
        {% if carpas %}
            {% for carpa in carpas %}
                <tr>
                    <td class="text-center">
                        <a href="{{ url_for('carpas_editar', id=carpa.id_carpa) }}" class="btn btn-sm mb-1 borderC azulC opacity">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                    </td>
                    <td class="text-center">
                        <form action="{{ url_for('carpas_eliminar', id=carpa.id_carpa) }}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta carpa? si tienes algún pedido con esta carpa se eliminara todos los pedidos con esta carpa, si no es el caso puedes eliminarla perfectamente, o puedes editarla en su defecto.');">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-sm mb-1 borderC rojoC opacity">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button>
                        </form>
                    </td>
                    <td class="blanco">{{ carpa['color'] }}</td>
                    <td class="blanco">{{ carpa['cantidad'] }}</td>
                    <td class="blanco">{{ carpa['precio_renta'] }}</td>
                    <td class="blanco">{{ carpa['medidas'] }}</td>
                    <td class="blanco">Metros</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" class="text-center">No hay carpas registradas</td>
            </tr>
        {% endif %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('carpas_dashboard', page=page-1, per_page=per_page) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if page != 1 and page != 2 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('carpas_dashboard', page=1, per_page=per_page) }}">1</a></li>
                {% if page != 3 %}
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                {% endif %}
            {% endif %}
            <li class="page-item"><a class="page-link" href="{{ url_for('carpas_dashboard', page=page-1, per_page=per_page) }}">{{ page-1 }}</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link list-group-item-primary" href="#">{{ page }}</a></li>

        {% if page < total_pages %}
            <li class="page-item"><a class="page-link" href="{{ url_for('carpas_dashboard', page=page+1, per_page=per_page) }}">{{ page+1 }}</a></li>
            {% if page != total_pages and page != total_pages-1 %}
                {% if page != total_pages-2 %}
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="{{ url_for('carpas_dashboard', page=total_pages, per_page=per_page) }}">{{ total_pages }}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('carpas_dashboard', page=page+1, per_page=per_page) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Selecciona el contenedor de mensajes flash y obtiene el rol del usuario
        const flashMessagesContainer = document.querySelector('#flashMessages');
        const userRole = flashMessagesContainer.getAttribute('data-role');

        // Establece el tiempo de espera según el rol
        const delay = userRole === 'admin' ? 3000 : 7000; // 3 segundos para admin, 7 segundos para clientes

        // Selecciona todos los mensajes flash y ocúltalos después del tiempo de espera
        const flashAlerts = flashMessagesContainer.querySelectorAll('.flash-alert');
        flashAlerts.forEach(alert => {
            setTimeout(() => {
                alert.classList.add('hidden');
            }, delay);
        });
    });
</script>

{% endblock %}
