{% extends "layout.html" %}

{% block title %}
Contáctanos
{% endblock %}

{% block body %}
    <div style="
        background-image: url('/static/img/fondo-contacto.jpg'); /* Ruta a la imagen de fondo */
        background-size: cover;
        background-position: center;
        color: white; /* Texto en blanco */
        padding: 20px;
        min-height: 100vh; /* Asegura que la página ocupe al menos el alto de la ventana */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        flex-direction: column; /* Coloca los elementos en columna */
    ">
        <div style="margin-bottom: 20px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d283.6930945355768!2d-97.83289630933447!3d19.35381234204278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cffe55eb0c176f%3A0x52242080dac2ac7!2sAv.%20Xicoht%C3%A9ncatl%2013%2C%2090515%20San%20Jos%C3%A9%20Xicoht%C3%A9ncatl%2C%20Tlax.!5e0!3m2!1ses-419!2smx!4v1724060313924!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div style="
            background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
            padding: 20px;
            border-radius: 10px; /* Opcional: redondear las esquinas del fondo */
            max-width: 600px; /* Limita el ancho máximo del contenido */
            width: 75%;
            text-align: center; /* Centra el texto */
        ">
            <h1 style="
                margin-bottom: 20px; /* Espacio debajo del título */
            ">Contacto</h1>
            <p style="
                margin-bottom: 10px; /* Espacio debajo de cada párrafo */
            ">Avenida Xicotencatl #13</p>
            <p style="
                margin-bottom: 10px; /* Espacio debajo de cada párrafo */
            ">Jose Antonio Filomeno Rojas</p>
            <p style="
                margin-bottom: 10px; /* Espacio debajo de cada párrafo */
            ">Teléfonos:</p>
            <ul style="
                list-style-type: none; /* Quita los puntos de la lista */
                padding: 0; /* Quita el padding de la lista */
                margin: 0; /* Quita el margin de la lista */
            ">
                <li>2471181776</li>
                <li>2471060026</li>
            </ul>
        </div>
    </div>
{% endblock %}
