{% extends "layout.html" %}

{% block title %}
    Crea tu Usuario
{% endblock %}

{% block body %}
    <!-- Modal para Términos y Condiciones -->
    <div class="modal fade" id="terminosModal" tabindex="-1" role="dialog" aria-labelledby="terminosModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="terminosModalLabel">Términos y condiciones de uso:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Aceptación 
                        Al elegir nuestra aplicación web, acepta los términos y condiciones de uso sobre el producto, los derechos de autor están reservados, único uso es para el negocio Alquiladora el Carmen lonas y carpas de sus empleados y clientes.
                        aceptar los términos y condiciones acepta cada uno de los puntos de los términos y condiciones, dado caso que no acepte los términos y condiciones no podrá usar la Aplicación Web.
                        Responsabilidades del propietario.
                        Usted es responsable del resguardo y mantenimiento, como la rentabilidad del dominio en línea del producto, tanto de tener un equipo de cómputo con las características recomendadas para su uso adecuado.
                        Soporte, actualización y mantenimiento
                        Nos comprometemos a dar soporte técnico siempre y cuando el cliente acepte estos términos y condiciones, mas aparte si es solicitado por el cliente, dado caso que usted no quiera nuestros servicios para el mantenimiento de esta aplicación web no se le cobrara, pero se quedara sin mantenimiento por parte de nosotros, donde la opción de mantenimiento puede ser una de estas que usted elija, mensualmente o anualmente teniendo sus costos respectivos.
                        Al aceptar los términos y condiciones usted se compromete a conocer las funciones del sistema, así como capacitar a sus empleados para que usen el sistema de forma óptima.
                        </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn borderr opacity colorR" id="aceptarTerminos">Aceptar</button>
                    <button type="button" class="btn borderr opacity colorR" id="rechazarTerminos">Rechazar</button>
                </div>
            </div>
        </div>
    </div>

    <form id="formularioUsuario" action="{{ url_for('formulario_usuario') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h1 class="colorh1 "> REGISTRATE</h1><br>
        <h2 class="colorh2">PARA EMPEZAR A CREAR TU CUENTA AGREGA UN CORREO Y UNA CONTRASEÑA ;)</h2>

        <!-- Alerta para campos vacíos -->
        <div id="alertCamposVacios" class="alert alert-danger mt-3" style="display: none;">
            Por favor, llena todos los campos antes de enviar el formulario.
        </div>
        
        <!-- Campo correo -->
        <div class="form-group">
            <label class="blancoR" for="correo">Correo</label>
            <input type="email" class="form-control borderR bottonR" id="correo" name="correo" placeholder="correo@example.com" aria-describedby="emailHelp">
        </div>
        
        <!-- Campo de Contraseña -->
        <div class="form-group">
            <label class="blancoR" for="password">Contraseña</label>
            <input type="password" class="form-control borderR bottonR" id="password" name="password" placeholder="Tu contraseña">
        </div>
           
        <small id="password"class="form-text blancologin nombreizz colorB text-center ">Acuerdate de tu contraseña no se recuperan contraseñas.</small>



        <!-- Checkbox para ver la contraseña -->
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input cuadro" id="togglePassword">
            <label class="form-check-label blancoR " for="togglePassword">Ver contraseña</label>
        </div>
        
        <!-- Botones para enviar y cancelar -->
        <button type="submit" class="btn borderr opacity colorR">Siguiente</button>
        <a href="{{ url_for('login') }}" class="btn borderh opacity colorR">Cancelar</a>
    </form>
        <!-- Mensajes Flash -->
        <div id="flashMessages" class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-{{ category }} blancoR" role="alert">
                        {% for category, message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    <!-- Scripts de Bootstrap y Validación -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script>
        // Mostrar/ocultar la contraseña
        document.getElementById('togglePassword').addEventListener('change', function () {
            const passwordField = document.getElementById('password');
            if (this.checked) {
                passwordField.setAttribute('type', 'text');
            } else {
                passwordField.setAttribute('type', 'password');
            }
        });

        // Validación del formulario antes de enviar
        document.getElementById('formularioUsuario').addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar el envío inmediato del formulario
            var correo = document.getElementById('correo').value;
            var password = document.getElementById('password').value;

            if (!correo || !password) {
                // Mostrar la alerta si hay campos vacíos
                document.getElementById('alertCamposVacios').style.display = 'block';
            } else {
                // Mostrar el modal de términos y condiciones
                $('#terminosModal').modal('show');
            }
        });

        // Controlar la aceptación de los términos
        document.getElementById('aceptarTerminos').addEventListener('click', function () {
            $('#terminosModal').modal('hide');
            document.getElementById('formularioUsuario').submit(); // Enviar el formulario
        });

        // Controlar el rechazo de los términos
        document.getElementById('rechazarTerminos').addEventListener('click', function () {
            $('#terminosModal').modal('hide');
            alert("Debe aceptar los términos y condiciones para continuar.");
        });
    </script>

    <style>


    
        .border12{
            border-radius: 100px;
            background: rgb(63,94,251);
            background: linear-gradient(90deg, rgb(23, 57, 227) 0%, rgba(104,59,215,1) 100%);
            border: 2px solid rgb(255, 255, 255);
        }

        .opacity:hover{
            opacity: .8;
        }

        .blancoR{
            color: rgb(252, 252, 252);
            margin-left: 250px;
            background: rgba(0, 0, 0, 0.808);
            border-radius: 100px;
            width: 10%;
            text-align: center;

        }

        .cuadro{
            margin-left: 230px;
        }

        .borderR{
            color: aliceblue;
            border-radius: 100px;
            border: 2px solid rgb(134, 134, 134);
            margin-right: 1px;
            width: 50%;
            margin-left: 270px;
          
        }

        .bottonR{
            background: rgba(28, 28, 28, 0.895);
           
        }

        .borderr{
            border-radius: 100px;
            background: linear-gradient(90deg, rgb(23, 57, 227) 0%, rgba(104,59,215,1) 100%);
            text-decoration: none;
            margin-left: 400px;
        }

        .colorR{
            color: rgb(255, 255, 255);
            text-align: center;
            

        }

        .colorh2{
            color: rgb(255, 255, 255);
            font-size: 15px;
            background: rgba(14, 13, 13, 0.87);
             margin: 5px;
            padding: 5px;
            text-align: center;
            width: 60%;
            margin-left: 225px;
            border-radius: 100px;

        }

        .colorh1{
            color: rgb(255, 255, 255);
            text-transform: uppercase;
             background: rgba(0, 0, 0, 0.808);
             margin: 5px;
            padding: 5px;
             width: 40%;
            text-align: center;
            margin-left: 330px;
            border-radius: 100px;
              
        }
        .borderh{
            background:  linear-gradient(90deg, rgba(110, 12, 30, 0.98) 0%, rgba(212, 23, 57, 0.98) 100%);
            border-radius: 100px;
            margin-left: 100px;

        }


        .colorB{
            color: rgb(255, 255, 255);


              
        }
    </style>
{% endblock %}
