{% extends "layout.html" %}

{% block title %}
    Datos Personales
{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <form id="formularioUsuario" action="{{ url_for('Cliente') }}" method="POST">
        <div class="col-md-6">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
            <div id="alertCamposIncompletos" class="alert alert-warning mt-3" style="display: none;">
                ¡No puedes enviar el formulario con campos vacíos!
            </div>
    
            <div id="alertTelefonoNumerico" class="alert alert-warning mt-3" style="display: none;">
                Por favor, ingresa un número de teléfono válido (solo números).
            </div>
    
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Ingresa tu Nombre">
        </div>
        <div class="col-md-6">
            <label for="inputApellido" class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" id="inputApellido" name="apellido_paterno" placeholder="Ingresa tu Apellido Paterno">
        </div>
        <div class="col-12">
            <label for="inputApellidoMaterno" class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" id="inputApellidoMaterno" name="apellido_materno" placeholder="Ingresa tu Apellido Materno">
        </div>
        <div class="col-12">
            <label for="inputDireccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="inputDireccion" name="direccion" placeholder="Ingresa tu Dirección">
        </div>
        <div class="col-md-4">
            <label for="inputEstado" class="form-label">Estado</label>
            <select id="inputEstado" class="form-control" name="estado">
                <option value="" selected>Selecciona tu estado</option>
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Baja California">Baja California</option>
                <option value="Baja California Sur">Baja California Sur</option>
                <option value="Campeche">Campeche</option>
                <option value="Chiapas">Chiapas</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Ciudad de México">Ciudad de México</option>
                <option value="Coahuila">Coahuila</option>
                <option value="Colima">Colima</option>
                <option value="Durango">Durango</option>
                <option value="Guanajuato">Guanajuato</option>
                <option value="Guerrero">Guerrero</option>
                <option value="Hidalgo">Hidalgo</option>
                <option value="Jalisco">Jalisco</option>
                <option value="México">México</option>
                <option value="Michoacán">Michoacán</option>
                <option value="Morelos">Morelos</option>
                <option value="Nayarit">Nayarit</option>
                <option value="Nuevo León">Nuevo León</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Quintana Roo">Quintana Roo</option>
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Sinaloa">Sinaloa</option>
                <option value="Sonora">Sonora</option>
                <option value="Tabasco">Tabasco</option>
                <option value="Tamaulipas">Tamaulipas</option>
                <option value="Tlaxcala">Tlaxcala</option>
                <option value="Veracruz">Veracruz</option>
                <option value="Yucatán">Yucatán</option>
                <option value="Zacatecas">Zacatecas</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputMunicipio" class="form-label">Municipio</label>
            <input type="text" class="form-control" id="inputMunicipio" name="municipio" placeholder="Tu municipio">
        </div>
        <div class="col-12">
            <label for="inputTelefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="inputTelefono" name="telefono" placeholder="Ingresa tu número de teléfono">
        </div>
        <div class="col-md-6">
            <label for="inputUser" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" id="inputUser" name="username" placeholder="@Juanito_27">
            <small id="inputUser" class="form-text text-muted">Añade un Nombre de Usuario incluyendo caracteres especiales ($, @, ., etc)</small>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary border13 opacity">Siguiente</button>
            <button type="reset" class="btn btn-danger border13 opacity">Cancelar</button>
        </div>
    </form>
    <style>
        .border13{
            border-radius: 100px;
            background: rgb(63,94,251);
            background: linear-gradient(90deg, rgb(23, 57, 227) 0%, rgba(104,59,215,1) 100%);
            border: 2px solid rgb(255, 255, 255);

        }

        .opacity:hover{
            opacity: .8;
        }

    </style>
    
</body>

<script>
    document.getElementById('formularioUsuario').addEventListener('submit', function(event) {
        var nombre = document.getElementById('inputNombre').value.trim();
        var apellidoPaterno = document.getElementById('inputApellido').value.trim();
        var apellidoMaterno = document.getElementById('inputApellidoMaterno').value.trim();
        var direccion = document.getElementById('inputDireccion').value.trim();
        var estado = document.getElementById('inputEstado').value.trim();
        var municipio = document.getElementById('inputMunicipio').value.trim();
        var telefono = document.getElementById('inputTelefono').value.trim();
        var email = document.getElementById('inputEmail').value.trim();

        var telefonoNumerico = /^[0-9]+$/;

        if (!nombre || !apellidoPaterno || !apellidoMaterno || !direccion || estado === "" || !municipio || !telefono || !email) {
            document.getElementById('alertCamposIncompletos').style.display = 'block';
            document.getElementById('alertTelefonoNumerico').style.display = 'none';
            event.preventDefault();
        } else if (!telefono.match(telefonoNumerico)) {
            document.getElementById('alertTelefonoNumerico').style.display = 'block';
            document.getElementById('alertCamposIncompletos').style.display = 'none';
            event.preventDefault();
        } else {
            document.getElementById('alertCamposIncompletos').style.display = 'none';
            document.getElementById('alertTelefonoNumerico').style.display = 'none';
        }
    });
</script>

{% endblock %}