{% extends 'layout.html' %}

{% block title %} Página Principal {% endblock %}

{% block body %}

<html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body class="bodi-class">
    <h1>Bienvenido a Alquiladora el Carmen</h1>
    <h2>Lonas y Carpas</h2>
    <p>La Elegancia Bajo el Sol</p>

    

    <div class="slider-container">
        <div class="slider">
            <div class="slide current"><img src="{{ url_for('static',filename='img/img_1.jpeg') }}" alt="Imagen 1"></div>
            <div class="slide"><img src="{{ url_for('static',filename='img/img_2.jpeg') }}" alt="Imagen 2"></div>
            <div class="slide"><img src="{{ url_for('static',filename='img/img_3.jpeg') }}" alt="Imagen 3"></div>
            <div class="slide"><img src="{{ url_for('static',filename='img/img_4.jpeg') }}" alt="Imagen 4"></div>
        </div>
    </div>

    <div class="tarjeta-container">
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_5.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_6.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_7.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_8.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_9.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_10.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_11.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_12.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
        <div class="tarjeta">
            <img src="{{ url_for('static', filename='img/img_13.jpeg') }}" alt="">
            <div class="tarjeta-info">
                <a href="#" class="ver-mas">Ver mas...</a>
            </div>
        </div>
    </div>

</body>
</html>
<footer>
    <p>&copy; 2024 Tu Nombre o Empresa. Todos los derechos reservados.</p>
</footer>
{% endblock %}

